{{>layout/header}}

<div class="container">
    <h2>Categories</h2>
    <div class="category-card">Food & Drinks</div>
    <div class="category-card">Transportation</div>
    <div class="category-card">Entertainment</div>
</div>



{{>layout/footer}}
