<section class="subscriptions">
    <h3>Subscriptions</h3>
    <div class="subscription-card">
        <p><strong>{{name}}</strong></p>
        <p>{{price}}</p>
        <p>{{interval}}</p>
        <p>{{lastPaid}}</p>
    </div>
</section>
