{{>layout/header}}

<div class="container">
    <h2>Expenses</h2>
    <table>
        <thead>
        <tr>
            <th>Description</th>
            <th>Amount</th>
            <th>Date</th>
            <th>Category</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Lunch</td>
            <td>$12</td>
            <td>2025-06-01</td>
            <td>Food & Drinks</td>
        </tr>
        </tbody>
    </table>
</div>

{{>layout/footer}}
