{{>layout/header}}

<div class="container">
    <h2>Incomes</h2>
    <table>
        <thead>
        <tr>
            <th>Source</th>
            <th>Amount</th>
            <th>Date</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Salary</td>
            <td>$3,000</td>
            <td>2025-06-01</td>
        </tr>
        </tbody>
    </table>
</div>

{{>layout/footer}}
