{{>layout/header}}


<div class="container px-5">
    <h2>Transfer</h2>
    <table class="table table-striped-columns table-bordered table-hover">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Amount</th>
            <th scope="col">Date</th>
            <th scope="col">Recipient Account</th>
            <th scope="col">Sender Account</th>
        </tr>
        </thead>
        <tbody>
        {{#transferList}}
            <tr>
                <th scope="row">{{id}}</th>
                <td>{{amount}}</td>
                <td>{{date}}</td>
                <td>{{toAccount.name}}</td>
                <td>{{fromAccount.name}}</td>
            </tr>
        {{/transferList}}
        </tbody>
    </table>
</div>

{{>layout/footer}}
