{{> layout/header}}

<div class="container">
    <nav class="quick-actions">
        <h4>Quick Actions</h4>
        <button type="button" class="btn btn-outline-danger">New Expense</button><br/>
        <button type="button" class="btn btn-outline-success">New Income</button><br/>
        <button type="button" class="btn btn-outline-warning">New Transfer</button>
    </nav>
</div>

{{> layout/footer}}